* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Com isso, o padding não entra no cálculo do tamanho da box*/
}

body {
  background: #e6fff0;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  /* renderiza a fonte com uma suavidade melhor / menos pixelizada */
  -webkit-font-smoothing: antialiased !important;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

#main-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#main-header {
  height: 46px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

#main-header ul {
  display: flex;
  list-style: none;
}

#main-header ul li {
  display: flex;
  align-items: center;
  margin-left: 16px;
  font-weight: bold;
  font-size: 12px;
}

#main-header ul li:first-child {
  margin-left: 0;
}

#main-header ul li img {
  margin-right: 8px;
}

.search-input {
  display: flex;
  justify-content: space-between;
}

.search-input img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 15px;
}

.search-input button {
  height: 30px;
  width: 90px;
  border-radius: 16px;
  background: #3bb9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
  margin-right: 15px;
}

.search-input input {
  width: 220px;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 20px;
  font-size: 12px;
  background: #f5f8fa url("/images/search.svg") no-repeat 190px;
}

.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.info-bar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  height: 60px;
  background: #fff;
}
.info-bar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 285px;
}
.info-bar ul {
  display: flex;
  list-style: none;
}
.info-bar ul li {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.info-bar ul li span {
  color: #667580;
  font-size: 12px;
}

.info-bar ul li strong {
  font-size: 18px;
  color: #667580;
  font-weight: bold;
  margin-top: 2px;
}

.content .info-bar--actions {
  display: flex;
}

.info-bar--actions button {
  height: 30px;
  width: 90px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid;
  color: #3bb9e3;
  margin-right: 30px;
}

.info-bar--actions button:hover {
  border: 1px solid;
  color: #fff;
  background: #3bb9e3;
}

.wrapper-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile {
  width: 260px;
}

aside.profile img.avatar {
  width: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -130px;
}

aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

aside.profile span {
  font-size: 14px;
  color: #53626c;
}

aside.profile p {
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;
}

aside.profile ul {
  list-style: none;
  margin-top: 20px;
}

aside.profile li {
  font-size: 14px;
  color: #657786;
  display: flex;
  align-items: center;
}

aside.profile li:not(:first-child) {
  margin-top: 5px;
}

aside.profile li img {
  margin-right: 16px;
}

.timeline {
  background: red;
  width: 200px;
  height: 200px;
}

.widgets {
  background: red;
  width: 200px;
  height: 200px;
}
